#title-img {
	width: 42px;
	height: 42px;
}

.ui-autocomplete-input {
	z-index: 0 !important;
}

/* General Use */

.no-margin {
	margin: 0px;
}

.no-padding {
	padding: 0px;
}

.no-border {
	border: 0px;
}

.border {
	border: 1px solid #ddd;
}

.tab-border {
	border-top: 0px;
	border-left: 1px;
	border-bottom: 1px;
	border-right: 1px;
	border-style: solid;
	border-color: #ddd;
}

/* Market Browser Menu */

.browse-panel {
	margin-bottom: 0px;
	border-radius: 0px;
}

.browse-panel-heading {
	padding: 1px 8px 1px 8px;
}

.browse-panel-title {
	font-size: 14px;
}

.browse-panel-body {
	padding: 0px 0px 0px 10px;
}

.browse-panel-item {
	font-size: 13px;
	padding: 1px 0px;
}
