# db server info
dbdriver=mysql
dbhost=127.0.0.1
dbport=3306
dbname=eve

# this account needs read/write db access
dbuser=dirt.scraper
dbpass=password

# email that is added to the user agent when making API requests
adminemail=root@localhost

# `keyId` of the auth details in the eve.dirtApiAuth table used by the scrapers
scraperkeyid=1

# SSO application information
ssoclientid=
ssosecretkey=
