# this config file is for mapping the columns in a csv
# file to the correct type and sql column in the db
#
# line format:
#     <sql_column>=<csv_header>,<type>
#
# valid types:
#     long
#     double
#     timestamp
#

# isk volume
db=merIskVolume
date=date,timestamp
iskVolume=isk.volume,long

# money supply
db=merMoneySupply
date=date,timestamp
character=character,long
corporation=corporation,long
total=total,long

# produced, destroyed, mined
db=merProdDestMine
date=date,timestamp
produced=produced,long
destroyed=destroyed,long
mined=mined,long

