# this config file is for mapping the columns in a csv
# file to the correct type and sql column in the db
#
# line format:
#     <sql_column>=<csv_header>,<type>
#
# valid types:
#     long
#     double
#     timestamp
#     string
#
# sql fields of type timestamp with '&' for the corresponding
# csv field will use the mer's overall month/year
#   date=&,timestamp
#
# sql fields named 'regionid' that dont map to a csv column will
# attempt to translate a 'regionname' csv column to a region id
# (regional stats only come with regions name for some reasion..)
#

# isk volume
table=merIskVolume
date=date,timestamp
iskVolume=isk.volume,long

# money supply
table=merMoneySupply
date=date,timestamp
character=character,long
corporation=corporation,long
total=total,long

# produced, destroyed, mined
table=merProdDestMine
date=date,timestamp
produced=produced,long
destroyed=destroyed,long
mined=mined,long

