table=merRegStat

date=&,timestamp
regionId=regionID,long
exports=exports,double
exportsm3=exportsm3,double
imports=imports,double
importsm3=importsm3,double
netExports=net.exports,double
netImports=net.imports,double
produced=total.production,double
destroyed=total.destroyed,double
mined=mining.value,double
traded=trade.value,double
