#title-img {
	width: 42px;
	height: 42px;
}

.content-wrapper {
	background: #545a60;
}

footer.sticky-footer {
	background-color: #343a40;
	color: #858e96;
}

/* Autocomplete Form */

.ui-menu {
	z-index: 2000;
}

.ui-menu-item {
	background: #212529;
	color: #868e96;
}

/* General Use */

.no-margin {
	margin: 0px;
}

.no-padding {
	padding: 0px;
}

.no-padding-left {
	padding-left: 0;
}

.no-border {
	border: 0px;
}

.border {
	border: 1px solid #ddd;
}

.tab-border {
	border-top: 0px;
	border-left: 1px;
	border-bottom: 1px;
	border-right: 1px;
	border-style: solid;
	border-color: #ddd;
}

/* Tables */
table.dataTable td {
	padding: 0.1rem 0.25rem;
	color: #ccc;
	border-top: none;
}

.dataTables_wrapper {
	padding: 0;
}

#sellorders {
	margin: 0 !important;
}

#buyorders {
	margin: 0 !important;
}

.nav-link {
	color: #000;
}

.nav-link:hover {
	color: white;
}

/* Market Browser Menu */

.browse-card {
	border: 0;
}

.browse-card-header {
	background: #343a40;
	padding: 0;
	overflow: hidden;
}

.browse-card-body {
	background: #747a80;
	padding: 0rem 0rem 0rem .5rem;
	overflow: hidden;
}

.browse-btn {
	padding: 0rem 0.5rem;
	color: #858e96;
	text-decoration: none !important;
}

.market-item {
	color: #141a20;
}
